#map,#imap {
        width:100%;
        height:200px;
}
textarea[name=description] {
width:100%;
height:400px;
}


.jobdescription{
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3;
display: -webkit-box;
-webkit-box-orient: vertical;
}

